@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@tailwind base;

@layer base {
  h1 {
    @apply text-white font-normal text-h1;
  }
  h2{
    @apply text-white font-normal text-h2;
  }
  h3{
    @apply text-white font-normal text-h3;
  }
  p {
    @apply text-blue-light text-medium;
  }
}

.slide--large h1 {
  @apply text-h3;
}

.card h1 {
  @apply text-h3;
}

main h1 {
  @apply mt-32 mb-16;
}

main h2 {
  @apply mt-32 mb-16;
}

main p {
  @apply pt-8 pb-4;
}

article h1 {
  @apply text-h3;
}

@tailwind components;

@layer components {
  html,
  body {
    @apply h-full p-0 m-0 bg-gray text-white font-jura;
  }

  #__next {
    @apply relative h-full;
  }

}

@tailwind utilities;

a {
  @apply no-underline text-white hover:underline;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


pre{
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-x: auto;
  background-color: #11131A;
  padding: 16px 16px;
  border-left: #4CC900 2px solid;
}

.flex__items{
  flex-flow: row wrap;
}
.trans_menu{
  width: 100%;
  position: absolute;
  transition: all 0.8s ease;
  transform: translateY(-125%);
  z-index: 10;

}
.nav {
  @apply text-large font-bold uppercase text-white hover:no-underline;
}

.nav a {
  @apply hover:no-underline;
}

.navbar-link{
  display: flex;
  padding: 16px;
  align-self: center;
}
.navbar-link:hover{
  color: #4CC900;
  transition-duration: 500ms;
}

nav div a {
  position: relative;
}

nav div a::before {
  top: -10px;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 0px;
  background-color: #fff;
  transition: height 0.8s ease;
}

nav div a:hover::before,
nav div a.active_link::before {
  height: 20px;
}

nav div a.active_link::before {
  background-color: #4CC900;
}

.active_link{
  color: #4CC900;
}

.aside li::before {
  content: '•';
  @apply mr-16;
}

.aside li.active::before {
  content: '›';
}

.aside li.active>a {
  @apply font-bold text-blue;
}

@media (max-width:670px) {
  .navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-250px);
    transition: all 0.8s ease;
    width: 100%;
    left: 0;
    height: 250px;
    opacity: 0;
  }
  .active_menu{
    position: absolute;
    transform: translateY(80px);
    display: flex;
    flex-direction: column;
    background-color: #11131A;
    width: 100%;
    height: 250px;
    z-index: 10;
    opacity: 100;
  }
}

.button{
  border-radius: 0.25rem;
  transition-duration:700ms;
  @apply font-bold flex justify-center items-center cursor-pointer text-large uppercase text-white;
  @apply hover:no-underline;
}

